@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@layer components {
  .shape {
    border: rgb(30 27 75) 2px solid;
    transition: all 1s ease-in-out;
    will-change: transform;
    animation-fill-mode: forwards;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    background-color: #f7fafc;
    z-index: 50;
  }

  .scroll-lock-ios {
    position: fixed;

    overflow: hidden;
  }

  .scroll-lock {
    overflow-y: hidden;
  }
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
}
